<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <title>CODE Employee Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>


  <nav id="mobile-nav-panel" class="mobile-nav-panel">
    <div class="panel-header">
      <button id="mobile-nav-close-btn" class="close-btn" aria-label="Close menu">&times;</button>
    </div>
    <ul class="panel-nav-list">
      <li><a href="#home">HOME</a></li>
      <li><a href="#about">ABOUT US</a></li>
      <li><a href="#coordinator">CO-ORDINATOR</a></li>
      <li><a href="#contact">CONTACT</a></li>
    </ul>
  </nav>

  <div id="page-overlay" class="page-overlay"></div>



<header class="main-header">
  <div class="header-top">
    <!-- Background wave image -->
    <div class="logo-bg">
      <img src="static/images/logo-bg.png" alt="Background Wave">
    </div>

    <!-- Logo on top -->
    <div class="logo-wrap">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
    </div>

    <!-- Title text on the right -->
    <div class="header-title">
      Centre for Outreach and Digital Education (CODE), IIT Madras
    </div>
  </div>

    <nav class="nav-bar">
      <ul class="nav-list">
        <li class="hide-on-mobile"><a href="#home">HOME</a></li>
        <li><a href="#about">ABOUT US</a></li>
        <li><a href="#coordinator">CO-ORDINATOR</a></li>
        <li><a href="#orgchartwrapper">CODE STRUCTURE</a></li>
        <li><a href="#codeteam">EMPLOYEES</a></li>        
        <li><a href="#contact">CONTACT</a></li>
      </ul>

      <button id="hamburger-btn" class="hamburger-btn" aria-label="Open menu">
          <span></span>
          <span></span>
          <span></span>
      </button>
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

</html>
